 <section id="content">
                    <section class="vbox">
                        <section class="scrollable padder">
                            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                <li class="active">
                                    Messages
                                </li>
                            </ul>
                            <div class="col-md-12" style="padding-left:5px;">

                                <section>


                                    <div class="main_section" style="width:100%">
                                        <div class="container" style="width:100%;padding-left:0px;">
                                            <div class="chat_container">
                                                <div class="col-sm-3 chat_sidebar">
                                                    <div class="row">
                                                        <div id="custom-search-input">
                                                            <div class="input-group col-md-12">
                                                                <input type="text" class="  search-query form-control" placeholder="Search" ng-model="filterMessage" />
                                                                <button class="btn btn-danger" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </button>
                                                            </div>
                                                        </div>

                                                        <div class="member_list">
                                                            <ul class="list-unstyled">
                                                                <li class="left clearfix" ng-repeat="(pindex,message) in list_mesages | filter:filterMessage" ng-click="set_active_index(pindex)" ng-class="{'active_li': detail_messages.index == pindex}">
                                                                     <span class="chat-img pull-left">
                                                                     <img src="/assets/images/default-avatar.png" alt="User Avatar" class="img-circle">
                                                                     </span>
                                                                    <div class="chat-body clearfix">
                                                                        <div class="header_sec ">
                                                                            <strong class="primary-font">{{message.from}}</strong>
                                                                            <strong class="pull-right">
                                                                                {{momentjs(message.createdAt).format('HH:mm MM-DD-YYYY')}}
                                                                            </strong>
                                                                        </div>
                                                                        <div class="contact_sec">
                                                                           <span class="badge pull-right">{{message.messages.length}}</span>
                                                                        </div>
                                                                    </div>
                                                                </li>

                                                            </ul>
                                                        </div></div>
                                                </div>
                                                <!--chat_sidebar-->


                                                <div class="col-sm-9 message_section">
                                                    <div class="row">
                                                        <div class="new_message_head">
                                                            <div class="pull-left">
                                                                <a class="btn btn-primary text-success btn_getmail" style="margin-top:-8px;" data-toggle="modal" data-show="true" href="#" data-target="#loadMailget">
                                                                    <i class="fa fa-plus"></i>  Send message <i class="fa fa-envelope-o"></i></a>
                                                                <a class="btn btn-primary text-success btn_getmail" style="margin-top:-8px;" ng-click="open_newhf()">
                                                                    <i class="fa fa-plus"></i>  New Place/Facility <i class="fa fa-hospital-o"></i></a>
                                                            </div>

                                                            <div class="pull-right"><div class="dropdown">
                                                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                                                    <li><a href="#"  ng-click="get_messages()">Check message</a></li>
                                                                    <li><a href="#">Profile</a></li>
                                                                    <li><a href="#">Logout</a></li>
                                                                </ul>
                                                            </div></div>
                                                        </div><!--new_message_head-->
                                                        <div ng-if="detail_messages !== undefined ">
                                                        <div class="chat_area" style="height:100% !important;">
                                                            <ul class="list-unstyled">
                                                                <li class="left clearfix">
                                                                     <span class="chat-img1 pull-left">
                                                                     <img src="/assets/images/default-avatar.png" alt="User Avatar" class="img-circle">
                                                                     </span>
                                                                    <div class="chat-body1 clearfix body_mess">
                                                                        <p>{{detail_messages.content}}</p>
                                                                        <div class="chat_time pull-right">
                                                                            {{momentjs(detail_messages.createdAt).format('HH:mm:ss MM-DD-YYYY')}}
                                                                        </div>
                                                                    </div>
                                                                </li>

                                                                <!--<li class="left clearfix admin_chat">-->
                                                                     <!--<span class="chat-img1 pull-right">-->
                                                                     <!--<img src="/assets/images/default-avatar.png" alt="User Avatar" class="img-circle">-->
                                                                     <!--</span>-->
                                                                    <!--<div class="chat-body1 clearfix">-->
                                                                        <!--<p>Hello.</p>-->
                                                                        <!--<div class="chat_time pull-left">09:40PM</div>-->
                                                                    <!--</div>-->
                                                                <!--</li>-->




                                                            </ul>
                                                        </div><!--chat_area-->
                                                        </div><!--end-->
                                                        <div class="message_write">
                                                            <textarea class="form-control" placeholder="type a message"></textarea>
                                                            <div class="clearfix"></div>
                                                            <div class="chat_bottom">
                                                                <a href="#" class="pull-right btn btn-success">
                                                                    Send</a></div>
                                                        </div>
                                                    </div>
                                                </div> <!--message_section-->
                                            </div>
                                        </div>
                                    </div>


                                </section>
                            </div>


                            </div>
                        </section>
                    </section>
                </section>
<style>
    .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
        width: 100% !important;
    }
</style>
 <!-- Modal -->
 <div class="modal fade" id="loadMailget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Send message</h4>
             </div>
             <div class="modal-body">

                 <div class="row">
                     <div class="col-sm-10">
                         <div class="form-group" ng-model="detail_contact.selected">
                             <label>Phone number:</label><br/>
                             <ui-select multiple ng-model="msg.to" title="Select phone number" style="width: 100%;">
                                 <ui-select-match  placeholder="Select phone number..." style="width: 100%;">{{$item.name}}</ui-select-match>
                                 <ui-select-choices repeat="rp_center in detail_contact | filter: $select.search">
                                     <span ng-bind-html="rp_center.name | highlight: $select.search"></span>
                                 </ui-select-choices>
                             </ui-select>

                         </div>
                         <div class="form-group">
                             Message: <input class="form-control" name="msg.content" ng-model="msg.content" type="text" placeholder="Hello">
                         </div>

                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="submit" ng-click="sendMsg(msg);" name="change" class="btn btn-success btn-s-xs">Send Message</button>
                 <button type="button" data-dismiss="modal" class="btn btn-info btn-s-xs"><i class="fa fa-chevron-left"></i> Back</button>

             </div>
         </div>
         <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
 </div>
 <!-- /.modal -->

 <!-- Modal -->
 <div class="modal fade" id="HFcreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">
                     <span ng-if="!hf.is_edit">New Place/Health facility</span>
                 </h4>
             </div>
             <div class="modal-body">

                 <form name="myForm"></form>

                 <div class="row">
                     <div class="col-sm-12" style="height:450px;overflow:auto">
                         <form name="new_hf">
                             <div class="form-group">
                                 <span class="form_required">(*)</span> Name of HF:
                                 <span class="form_required" ng-if="new_hf.myname.$invalid">Required</span>
                                 <input class="form-control" name="myname" type="text" ng-model="hf.name" required>
                             </div>
                             <div class="form-group">
                                 <span class="form_required">(*)</span> Phone number:
                                 <span class="form_required" ng-if="new_hf.myphone.$invalid">Required</span>

                                 <input class="form-control" name="myphone" ng-model="hf.phone" type="text" required>
                             </div>
                             <div class="form-group">
                                 VDC/Municipality name: <input class="form-control" name="phone" ng-model="hf.vdc" type="text" >
                             </div>
                             <!--<div class="form-group">-->
                             <!--Address: <input class="form-control" name="address" ng-model="hf.address" type="text" >-->
                             <!--</div>-->
                             <div class="form-group">
                                 Reporting Center:
                                 <ui-select ng-model="hf.reporting_center_list.selected" theme="selectize" title="Choose report center">
                                     <ui-select-match placeholder="Select or search a HF...">{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="rp_center in list_hf | filter: $select.search">
                                         <span ng-bind-html="rp_center.name | highlight: $select.search"></span>
                                     </ui-select-choices>
                                 </ui-select>

                             </div>

                             <div class="form-group">
                                 Heath Facility notes:
                                 <textarea class="form-control" name="type" ng-model="hf.notes" type="text" ></textarea>
                             </div>
                             <hr>
                             <div class="form-group">
                                 <span class="form_required">(*)</span> Contact Person:
                                 <span class="form_required" ng-if="new_hf.person.$invalid">Required</span>
                                 <input class="form-control" name="person" ng-model="hf.person" type="text" required>
                             </div>
                             <div class="form-group">
                                 <span class="form_required">(*)</span> <strong>Contact Person's Mobile: (eg: +84987777890)</strong>
                                 <span class="form_required" ng-if="new_hf.person_mobile.$invalid">Required</span>

                                 <input class="form-control" name="person_mobile" ng-model="hf.person_mobile" type="text" required>
                             </div>
                         </form>
                     </div>
                 </div>

             </div>
             <div class="modal-footer">
                 <button type="submit" ng-click="createNewHF(hf);" name="change" class="btn btn-success btn-s-xs" ng-class="{'disabled':new_hf.$invalid}" ng-if="!hf.is_edit"><i class="fa fa-floppy-o"></i> Create</button>
                 <button type="button" data-dismiss="modal" class="btn btn-info btn-s-xs"><i class="fa fa-times"></i> Close</button>

             </div>
         </div>
         <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
 </div>
 <!-- /.modal -->